/* ===========================
   FONTS
   =========================== */

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    src: url('assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    src: url('assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    src: url('assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* ===========================
   RESET
   =========================== */

*,
*::after,
*::before {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
   
img,
picture,
video {
     display: block;
     max-width: 100%;
     height: auto;
}
   
input,
button,
textarea,
select {
     font: inherit;
     color: inherit;
     background: none;
     border-color: transparent;
}
   
a {
     text-decoration: none;
     color: inherit;
}
   
ul,
ol {
     list-style-type: none;
}
   
/* ===========================
    CSS VARIABLES
   =========================== */
   
:root {
   
    --green: hsl(75, 94%, 57%);

    --white: hsl(0, 0%, 100%);
        
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
   
    --font-base: 'Inter', sans-serif;
   
}

/* ===========================
   BASE
   =========================== */

body {
    font-family: var(--font-base);
    color: var(--white);
    font-size: 0.875rem;
    background-color: var(--grey-900);
}

/* ===========================
   LAYOUT & ELEMENTS
   =========================== */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: var(--grey-800);
    border-radius: 14px;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    margin-top: 0.5rem;
}

.card__header {
    margin-bottom: 1.75rem;
    text-align: center;
}

.card__image {
    max-width: 5.5rem;
    max-height: 5.5rem;
    border-radius: 50%;
    margin: 0 auto;
}

.card__author-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.75rem;
}

.card__location {
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 0.5625rem;
    color: var(--green);
}

.card__description {
    text-align: center;
    margin-bottom: 1.74rem;
}

.card__links {
    text-align: center;
}

.card__link {
    margin: 0 auto 1rem;
    background-color: var(--grey-700);
    padding: 0.875rem 0;
    font-weight: 700;
    border-radius: 6px;
    width: clamp(12.5rem, 75vw, 18.875rem);
}

.card__link:hover,
.card__link:active {
    background-color: var(--green);
    color: var(--grey-700);
    cursor: pointer;
}

.attribution { 
    padding: 1rem;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 46.875rem) {
    .card {
        padding: 2.5rem 2.5rem 1.5rem;
        margin-top: 2rem;
    }

    .attribution {
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1rem;
    }
}